body {
	background-color: #0c0c18;
	color: white;
}
span.token.function {
	color: dodgerblue;
}
span.token.keyword {
	color: deepskyblue;
}
span.token.comment {
	color: gray;
}
span.token.punctuation {
	color:  orange;
}
span.token.wildcard {
	color: cyan;
}
span.token.operator {
	color: beige;
}
span.token.string {
	color: yellowgreen;
}
span.token.variable {
	color: violet;
}
blockquote {
	background-color: #181830;
	margin: 10px;
	padding: 1px 0px 1px 10px;
	border-left: 7px solid #303060;
}
pre.language-bash {
	background: black;
	border-radius: 5px;
	border-top: 15px solid dimgray;
	width: 62.5%;
	display: block;
	overflow: scroll;
	tab-size: 0.1em;
	padding-top: 10px;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: cyan;
}